.order-layout {
    display: flex;
  }
  
  .order-main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .order-container {
    padding: 20px;
  }
  
  .order-title {
    margin-bottom: 20px;
  }
  
  .order-table-container {
    margin-top: 20px;
  }
  
  .action-button {
    margin-right: 5px;
  }
  