.payment-layout {
    display: flex;
  }
  
  .payment-main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .payment-container {
    padding: 20px;
    margin-top: 20px;
  }
  
  .payment-title {
    margin-bottom: 20px;
  }
  